data/
dry.json
/lint.sh
/.vscode/
/config/
!/config/example_user.json
!/config/exturl.json
!/config/photrans.json
!/config/langlinks.json
/interactive/lyrics
/interactive/ruby-*
/interactive/*llwiki.js
/interactive/cache/
/src/lint-ll.js
