*~
*/*~
*.swp
*/*.swp
.DS_Store
.vscode/
data/
config/
!config/example_user.json
!config/exturl.json
!config/photrans.json
!config/langlinks.json
dry.json
interactive/lyrics
interactive/ruby-*
interactive/*llwiki.js
interactive/cache/
